SYS:Utilities/Multiview PUBSCREEN=Workbench
;The most common datatypes are described in this file
#.BSH
WORK:Bin/VT
#.yafa
WORK:Bin/YP
ilbm
SYS:Utilities/Fastview
gif
SYS:Utilities/Fastview
png
WORK:Bin/VT
;FastJPEG has some troubles to read some JFIF formats
#.JPEG
PIC:JpegAGA/JpegAGA.020
jfif
PIC:FastJPEG/FJPEG_AGA
jpeg
PIC:FastJPEG/FJPEG_AGA
bmp
SYS:Utilities/Fastview
#.PCX
SYS:Utilities/Fastview
#.DICE
DCC:Bin/VMake
#.HTML
TOOLS:Comm/MoreHTML/MoreHTML
ascii
TOOLS:Texte/Textview/TextView
amigaguide
SYS:Utilities/PowerGuide PUBSCREEN=Workbench
cdxl
WORK:Bin/CDgsXL
#.ANIM
PIC:CyberAnim/CyberAnim
#.FLI
PIC:Flick/Flick
#.FLC
PIC:Flick/Flick
#.AVI
WORK:Bin/TapAVI
#.MPEG
WORK:Bin/AmiPeg
#.movie
WORK:Bin/MoviePlayer
#.MOV
WORK:Bin/QT
#.ANMB
WORK:Bin/VT
anim
PIC:CyberAnim/CyberAnim
#.ICO
SYS:Utilities/MultiView
#.HSN
WORK:Bin/PlaySound
#.SND
WORK:Bin/Play16
#.MED
MUSIC:OctaMED/OctaMEDPlayer
#.MOD
WORK:Bin/SmartPlay
#MOD.
WORK:Bin/SmartPlay
#.AU
WORK:Bin/Play16
8svx
WORK:Bin/SMPlay
wav
WORK:Bin/SMPlay
voc
WORK:Bin/SMPlay
binary
TOOLS:Etabli/VersionWB/VersionWB
